<link href="~/Content/NotQualified.css" rel="stylesheet" />

<h1> Sorry!! You failed to qualify for the Program.</h1>
@Html.ActionLink("Submit a New Form","ApplicantInfo","Applicant", new { @id = "LinkId"})