<h1>Congratulation !!! You are Enrolled.</h1>

@Html.ActionLink("Click here to view the Enrolled Students in XML format","QualifiedStudentsinXML","Decision")<br/>
@Html.ActionLink("Click here to download the list of Enrolled Students in CSV format","QualifiedStudentinCSV","Decision")<br />
@Html.ActionLink("Click here to Register a new Applicant","ApplicantInfo","Applicant")<br />