<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Steps for Registration</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" id="info">@Html.ActionLink("INFO", "ApplicantInfo", "Applicant")</li>

          
            @*<li class="list-group-item" id="address">@Html.ActionLink("ADDRESS", "AddressInfo", "Address")</li>*@

            <li class="list-group-item" id="education">@Html.ActionLink("EDUCATION", "QualificationInfo", "Qualification")</li>
        </ul>
    </div>
</div>
